<nav class="navbar" aria-label="Primary">
  <a class="navbar-brand" href="#">
    <img
      width="48"
      height="48"
      src="https://img.icons8.com/sf-regular-filled/48/tollbooth.png"
      alt="tollbooth"
      class="navbar-icon"
    />
    <span class="navbar-title">Toll Booth</span>
  </a>
  <ul class="navbar-links">
    <li><a class="nav-link" href="#">Home</a></li>
    <li>
      <span class="nav-link nav-link-active" aria-current="page">Dashboard</span>
    </li>
    <li><a class="nav-link" href="#">Contact</a></li>
    <li><a class="nav-link" href="#">About Us</a></li>
  </ul>
</nav>
